/* CSS File for for the Huddle landing page  */

/* General styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans2";
    src: url("fonts/OpenSans-Bold.ttf");
}

body {
    font-family: "Open Sans";
    font-size: 17px;
    color: hsl(192, 100%, 9%);
}

h1,
h2 {
    font-family: "Poppins";
}

.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1440px;
    padding: 20px 0 0 0;
    
}

header{
    margin: 60px 80px;
}

header a{
    float: right;
}

.intro{
    text-align: center;
}

.intro h1{
    font-size: 45px;
    padding: 80px 0 18px 0;
}

.intro p {
    margin: 0 25em 3em 25em;
}

.cta-tryitfree{
    text-decoration: none;
    color: hsl(322, 100%, 66%);
    font-size: 14px;
    border: hsl(322, 100%, 66%) solid 1px;
    border-radius: 25px;
    padding: 5px 20px;
}

.cta-tryitfree:hover{
    color: hsl(321, 100%, 78%);
    border: hsl(321, 100%, 78%) solid 1px;
}

.cta-gsforfree{
    text-decoration: none;
    color: white;
    background-color: hsl(322, 100%, 66%);
    font-size: 14px;
    font-weight: 900;
    border-radius: 35px;
    padding: 17px 60px;
}

.cta-gsforfree:hover{
    background-color: hsl(321, 100%, 78%);
}

figure{
    text-align: center;
}

figure img {
    width: 55em;
    height: 50em;
    padding: 85px 0;
}

.statistics{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.communities{
    padding-right: 140px;
}

.messages{
    padding-left: 140px;
}

.communities span,
.messages span {
   color: gray;
}

.numbers {
    font-family: "Open Sans2";
    font-size: 4.5em;
    font-weight:bolder;
}

.content-grow-together,
.flowing-conversations,
.content-your-users {
    display: flex;
    flex-direction: row;
}

.bg-grow-together-top{
    background-image: url("images/bg-section-top-desktop-1.svg");
    height: 160px;
}

.content-grow-together{
    background-color: #F6FBFF;
    padding: 20px 0;
}

.bg-grow-together-bottom{
    background-image: url("images/bg-section-bottom-desktop-1.svg");
    height: 139px;
}

.flowing-conversations{
    flex-direction: row-reverse;
    padding: 60px 0;
}

.bg-your-users-top{
    background-image: url("images/bg-section-top-desktop-2.svg");
    height: 150px;
}

.content-your-users{
    background-color: #F6FBFF;
    padding: 20px 0;
}

.bg-your-users-bottom{
    background-image: url("images/bg-section-bottom-desktop-2.svg");
    height: 139px;
}

.text{
    padding: 140px 0 0 150px;
}

.text h2{
    font-size: 35px;
    font-weight: 900;
}

.text p{
    font-size: 17px;
    margin-top: 20px;
    padding-right: 105px;
}

.illustration-img{
    width: 650px;
    height: 350px;
    padding-right: 200px;
}

.flowing-conversations img{
    padding: 0 0 0 100px;
}

.outro{
    padding: 40px 0 150px 0;
    text-align: center;
}

.outro h2{
    font-family: "Poppins";
    font-size: 30px;
    padding: 20px 0 40px 0;
}

.bg-footer-top {
    background-image: url("images/bg-footer-top-desktop.svg");
    height: 150px;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding: 100px 0 80px 0;
}

.contact {
    padding: 0 100px;
}

.newsletter{
    padding: 0 100px;
}

.newsletter h2{
    font-size: 40px;
    font-weight: 900;
}

.contact p,
.newsletter p{
    padding: 20px 140px 50px 0;
}

.email{
    display: block;
    padding: 15px 0;
}

.social-media-icons {
    padding-top: 40px;
}

.fb,
.ig,
.twt {
    width: 25px;
    height: 25px;
}

.fb,
.twt {
    border-radius: 4px;
    background-color: white;
}

.ig {
    fill: white;
}

.fb:hover,
.twt:hover {
    background-color: rgb(28, 199, 211);
}

.ig:hover{
    fill: rgb(28, 199, 211);
}

.fb{
    padding: 4px 0 2px 4px;    
}

.twt{
    padding: 5px;    
}

form{
    display: flex;
    flex-direction: row;
}

.cta-email{
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 14px 61px;
    margin-right: 15px;
}

.cta-email:focus{
    outline: none;
}

.cta-email:invalid{
    border: hsl(0, 100%, 63%) solid 1px;
}

.rules{
    visibility: hidden;
    display: block;
    font-size: 13px;
    color: hsl(0, 100%, 63%);
    margin-top: 5px;
}

.cta-email:focus:invalid ~ span.rules{
    visibility: visible;
}

.submit{
    font-weight: 900;
    color: white;
    background-color: hsl(322, 100%, 66%);
    border: none;
    border-radius: 5px;
    padding: 14px 28px;
    margin-left: 15px;
}

.submit:hover{
    background-color: hsl(321, 100%, 78%);
}

/* Smaller Devices Styles*/

@media only screen and (max-width: 1205px){
    .intro p {
        margin: 0 18em 3em 18em;
    }

    .contact p,
    .newsletter p{
    padding: 20px 0 50px 0;
    }
}

@media only screen and (max-width:1095px) {
    .page-container{
        width: fit-content;
    }
}

/* Mobile Phone Styles */

@media only screen and (max-width: 375px) {
    .page-container{
        width: 375px;
    }

    header{
        margin: 13px 22px;
    }

    .cta-tryitfree{
        font-size: 8px;
        padding: 4px 15px;
    }

    header img{
        width: 100px;
        height: 15px;
    }
    .intro {
        padding: 0 40px;
    }

    .intro h1{
        font-size: 26px;
        padding: 80px  0 0;
    }

    .intro p{
        font-size: 14px;
        padding: 20px 0 60px 0;
    }

    .intro p {
        margin: 0;
    }

    figure img {
        width: 20em;
        height: 25em;
        padding: 85px 0;
    }

    .statistics{
        flex-direction: column;
    }

    .numbers {
        font-size: 2.5em;
    }

    .communities{
        padding: 0 0 0 25px;
    }
    
    .messages{
        padding: 100px 0 30px 0;    
    }

    .communities img,
    .messages img{
        width: 40px;
        height: 40px;
    }
    
    .content-grow-together,
    .flowing-conversations,
    .content-your-users {
    flex-direction: column-reverse;
    align-items: center;
}

    .bg-grow-together-top{
        background-image: url("images/bg-section-top-mobile-1.svg");
        height: 100px;
    }
    
    .bg-grow-together-bottom{
        background-image: url("images/bg-section-bottom-mobile-1.svg");
        height: 53px;
    }
    .bg-your-users-top{
        background-image: url("images/bg-section-top-mobile-2.svg");
        height: 100px;
    }
    .bg-your-users-bottom{
        background-image: url("images/bg-section-bottom-mobile-2.svg");
        height: 100px;
    }

    .text{
        text-align: center;
        padding: 80px 20px;
    }

    .text h2{
        font-size: 25px;
        font-weight:bolder;
    }

    .text p{
        font-size: 14.6px;
        margin-top: 20px;
        padding-right: 0;
    }

    .illustration-img{
        width: 250px;
        height: 250px;
        padding-right: 0;
    }

    .outro h2{
        font-size: 25px;
        padding-bottom: 60px;
    }
    .cta-gsforfree{
        font-size: 13px;
    }

    .bg-footer-top {
        background-image: url("images/bg-footer-top-mobile.svg");
        height: 50px;
        margin-top: 80px;
    }
    footer{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 50px 35px 0 35px;
    }
    form{
        flex-direction: column;
    }

    .cta-email{
        padding: 14px 65px;
    }

    .submit{
        float: right;
    }

    .contact {
        padding: 45px 0;
    }
    
    .newsletter{
        padding: 0 0 45px 0;
    }

    .newsletter h2{
        font-size: 26px;
    }

    .contact p,
    .newsletter p{
    padding: 20px 0 30px 0;
    font-size: 15px;
}
}